<form class="searchbar-form">
  <mat-form-field class="searchbar-full-width">
    <input
      type="text"
      placeholder="Start typing to search for courses"
      aria-label="Number"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="onOptionSelected($event)"
    >
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option.course.courseCode"
      >
        {{ option.course.courseTitle }} - {{ option.course.courseCode }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
